[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
requests = {version = "*", index = "https://pypi.douban.com/simple"}
scrapy-splash = "*"
pillow = {version = "*", index = "http://pypi.douban.com/simple"}
mysqlclient = {version = "*", index = "http://pypi.douban.com/simple"}
undetected-chromedriver = {version = "*", index = "https://pypi.douban.com/simple"}
opencv-python = {version = "*", index = "https://pypi.douban.com/simple"}
selenium = {version = "*", index = "https://pypi.douban.com/simple"}

[dev-packages]

[requires]
python_version = "3.6"
